* {
    margin: 0;
    padding: 0 ;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #151519;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    background-color: #83898c;
    padding: 20px ;
    border-radius: 3px;
    width: 300px ;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

#display {
        width: 100% ;
        height: 35px;
        border-radius: 4px;
        border: none;
        padding: 10px;
        font-size: 22px ;
        text-align: right;
        background: #eeeeee;
        box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.2);
        margin-bottom: 15px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.button {
    padding: 15px;
    border-radius: 4px;
    border: none;
    font-size: 18px;
    font-weight: 600;
    background: #f0f0f0;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.button:active {
    transform: translateY(2px);
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
}

.operator {
    background-color: #333;
    color: white;
}

.clear {
    background: rgb(213, 16, 16);
    color: white ;
}

.equal {
    background: rgb(12, 139, 12);
    color: white;
}